<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"> -->
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
    </head>
    <body>
        <div class="column is-quater is-offset-one-quarter has-text-centered has-background-primary">
            {{ data.personal.name }}
        </div>
        <div class="column has-text-centered">
            {{ data }}
        </div>
        
    </body>
</html>