<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ data.title }}</title>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/bulma/css/bulma-timeline.min.css">
    <link rel="stylesheet" href="/static/bulma/css/bulma-extensions.min.css">
    <script type="text/javascript" src="/static/bulma/js/bulma-accordion.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body id="top">
    <!-- HERO HEADER -->
    {% if 'header' in data %}
    <section class="hero is-light is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{ data.header.name }}</h1>
                <h2 class="subtitle">{{ data.header.position }}</h2>
                <h2 class="subtitle is-italic">{{ data.header.quote }}</h2>

            </div>
        </div>
    </section>
    {% endif %}

    <section class='section two-columns'>
        <div class="container is-fullhd">
            <div class="columns is-desktop">
                <div class="column is-6 my-profile">
                    <!-- ABOUT -->
                    {% if "about" in data %}
                    <h5 class="title">About</h5>
                    <div class='content has-text-justified'>
                        {{ data.about|join:" "|linebreaks }}
                    </div>
                    {% endif %}
                    <!-- PERSONAL -->
                    {% if "personal" in data %}
                    <h5 class="title">Personal Info</h5>
                    <ul class="personal-list">
                        {% for element in data.personal %}  
                        <li>
                            <strong class="is-uppercase">
                                <i class="{{ element.icon }}"> </i> 
                            {{ element.name }}</strong><br>
                            {% if element.link %}
                            <a class='is-link' href="{{ element.link }}">{{ element.value }}</a>
                            {% else %}
                            <span>{{ element.value|linebreaks }}</span>
                            {% endif %}
                        </li>
                        <br />
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <!-- STRENGTHS  -->
                    {% if "strengths" in data %}
                    <h5 class="title">Character Strengths</h5>
                    <div class='columns'>
                        <div class='column is-8'>
                            <section class="accordions">
                                {% for element in data.strengths %}
                                <article class="accordion is-light">
                                    <div class="accordion-header toggle is-primary">
                                        <p>{{ element.name }}</p>
                                    </div>
                                    <div class="accordion-body">
                                        <div class="accordion-content is-white">
                                            <p>{{ element.description }}<br /></p>
                                            {% if element.link %}
                                            <p><a href="{{ element.link }}" class='is-link is-small' target="_blank" rel="noopener noreferrer">Read more</a></p>
                                            {% endif%}
                                        </div>
                                    </div>
                                </article>
                                {% endfor %}
                            </section>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-------------------------------------->
                <div class="column is-6 skills">
                    <!-- SKILLS -->
                    {% if "skills" in data %}
                    <h5 class="title">Skills</h5>
                    <ul class="skills-list">
                        {% for element in data.skills %}
                        <li>
                            <br />
                            <strong class="is-uppercase">{{ element.name }}</strong>
                            <progress class="progress is-large is-{{ element.color }}" 
                            value="{{ element.level }}" max="100"></progress>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <!-- TOOLS -->
                    <br /> <br />
                    {% if "tools" in data %}
                    <h5 class="title">Tools</h5>
                    <div class='tags'>
                        {% for element in data.tools %}
                        <span class='tag is-medium is-{{ element.color }}'>{{ element.name }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>


    <!-- EMPLOYMENT     -->
    <section class="section hero is-light" id="resume">
        <div class='columns'>
            <div class='column is-6 is-offset-3'>
                <h5 class="title has-text-centered">Employment History</h5>
     
                <div class="timeline">
                {% for element in data.history %}
    
                    {% if element.end %}
                    <header class="timeline-header">
                    <span class="tag is-medium is-primary">{{ element.end }}</span>
                    </header>
                    {% endif %}

                    <div class="timeline-item is-primary">
                        <div class="timeline-content is-primary">
                            <h5 class="title is-uppercase is-5">
                                <span class='icon is-medium'>
                                {% if element.type == "job" %}
                                <i class="fa fa-briefcase"></i>
                                {% elif element.type == "university" %}
                                <i class="fa fa-university"></i>
                                {% endif %} 
                                </span>
                                {{element.name}}
                            </h5>
                            <h6 class="subtitle is-6">{{element.title}}</h6>

                            <ul class="content is-small has-text-justified">
                            {% for detail in element.details %}

                                <li>
                                <p class="content">{{ detail }}<br /><br /></p>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if element.begin %}
                    <header class="timeline-header">
                    <span class="tag is-medium is-primary">{{ element.begin }}</span>
                    </header>
                    {% endif %}

                {% endfor %}
                <div class="timeline-item is-primary"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p class='is-small'>
                <a href="https://bulma.io">
                <img src="/static/bulma/made-with-bulma.png" 
                     alt="Made with Bulma" width="128" height="24">
                </a></p>
                Inspired by <a href="https://www.jethromay.com/">Jethro May</a></p>
            </div>
        </footer>

    <script>
    var accordions = bulmaAccordion.attach(); // accordions now contains an array of all Accordion instances
    </script>

</body>
</html>
