{% block doc %}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {% block html %}
        <head>
        {% block head %}
            <title>{% block title %}{{ title|default }}{% endblock title %}</title>

            {% block metas %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock metas %}

            {% block styles %}
                <!-- Bulma -->
                <link rel="stylesheet" href="{{ url_for("static", filename="bulma/css/bulma.min.css") }}">
                <link rel="stylesheet" href="{{ url_for("static", filename="bulma/css/bulma-timeline.min.css") }}">
                <link rel="stylesheet" href="{{ url_for("static", filename="bulma/css/bulma-extensions.min.css") }}">
                <link rel="stylesheet" href="{{ url_for("static", filename="bulma/css/bulma-timeline.min.css") }}">
            {% endblock styles %}
        {% endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body %}
            {% block navbar %}
            {% endblock navbar %}
            {% block page_content %}
            {% endblock page_content %}

            {% block scripts %}
                <script type="text/javascript" src="{{ url_for("static", filename="bulma/js/bulma-accordion.min.js") }}"></script>
                <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            {% endblock scripts %}
        {% endblock body %}
        </body>
    {% endblock html %}
    </html>
{% endblock doc %}

